#DATABASE_URL="mysql://root:@localhost:3306/cms"
DATABASE_URL="mongodb+srv://kashish_10:Kashish735@cluster0.nmun9gr.mongodb.net/cms"

JWT_SECRET="wsdefr2"
JWT_EXPIRES_IN="7d"

# Super Admin credentials
SUPER_ADMIN_EMAIL=super.admin@cms.com
SUPER_ADMIN_PASSWORD=superadmin@735

# Frontend URL
FRONTEND_URL=https://cms-frontend-smoky-zeta.vercel.app

# Backend URL
BACKEND_URL=https://cms-backend-cfcw.onrender.com

# Student Role Id
STUDENT_ROLE_ID=699ae47e72c616108d3aff2e

#Apps password for mail
EMAIL_USER=kashishzalavadi@gmail.com
EMAIL_PASS=pdmxavmabzbvwvqk
